# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
node_modules
dist
dist-ssr
*.local
"server/coverage/"
server/coverage
coverage/**
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
k8s/secrets.yaml
k8s/aws-auth.yaml
k8s/aws-github.yaml
.github/workflows/cloud.yaml          
.env
*.pem
server/k8s/pub-cert.pem
server/k8s/argocd
server/k8s/argocd.pub
argocd.*
argocd
node-scaler.yaml
sealed-secrets-master-key.yaml
# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
terraform/README.md
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars
terraform.tfstate.1775217833.backup
terraform.tfstate.1775217846.backup
terraform.tfstate.1775217887.backup
*.tfstate
.tfstate.backup
alb-iam-policy.json
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.backup
.terraform/
*.tfstate.lock.info
.terraform.tfstate.lock.info
terraform.tfstate.**
prometheus-values.yaml
sealed-alertmanager.yaml
alertmanager-slack-sealed.yaml
